.service-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:80% ;
    margin-left: 10%;
    margin-top: 4rem;

}

.service>.service-category>.service-item{
    width: 25%;
}

.service>.service-category>.service-item>iconify-icon {
    color: #9900CC;
    font-size: 40px;
}

.service>.service-category>.service-item>iconify-icon:hover {
    color: #333366;
    cursor: pointer;
    transition: 1.5s ease;
}

.service>.service-category>.service-item>.service-name {
    margin-top: 1rem;
    font-size: 25px;
}