.shareholder{
    height: 12.5rem;
    background-color: rgb(216, 216, 216);
}

.shareholder>.img-logo{
    display: flex;
    justify-content: space-around;
    padding: 4rem 10rem;
}

.shareholder>.img-logo img{
    width: 5rem;
    height: 4rem;
    opacity: 0.6;
}

.shareholder>.img-logo img:hover{
    opacity: 1;
    transition: 1s;
}